/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */

select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #148894;
  color: #333;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;

}

.pc{
  display: block;
}

.under{
  background: linear-gradient(transparent 50%, #fbba4d 50%);
}

.titleimg {
  background-image: url(/img/header.png);
  background-position: center;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 900px;
}

.titleimg img{
  width: 30%;
  margin: 0 auto;
  margin-top: 65px;
  min-width: 350px;
}


.titleimg-sp img{
  display: none;
}

.nav {
  list-style: none;
  display: flex;
  background-image: url(/img/menu.png);
  filter: grayscale(100%);
  background-size: cover;
  background-position: contain;
  height: 130px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  min-width: 900px;
  filter: brightness(130%);

}

.nav_sp{
  display: none;
}


.nav li {
  width: 100%;
  height: 80px;
  line-height: 25px;
  text-align: center;
  margin: 16px;
  
}

.nav li a {
  text-decoration: none;
  color: #4d4d4d;
  text-align: center;
}


.preface1 {
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 23px;

}

.preface1 h2 {
  margin-top: 30px;
  font-size: 20px;
  line-height: 60px;

}

.preface1 p {
  text-decoration: underline;
  text-decoration-thickness: 1px;

}

.preface2 {
  margin-top: 50px;
  margin-bottom: 130px;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 23px;
}

.menu-title-sp{
  display: none;
}

.merit {
  width: 100vw;
  margin-top: 50px;
  font-size: 14px;
  line-height: 18px;

}

.merit_background {
  background-color: #e0d8c7;
  background-size: cover;
  background-image: url(/img/orangebar.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 200px;
  text-align: center;
  width: 70% ;
  height:  500px;
  margin: 0 auto;
  padding-top: 20px;
  min-width: 700px;

}

.merit_d h3 {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  line-height: 25px;

}

.merit_d p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;

}

.merit_body{
  display: flex;
  justify-content: space-between;

}

.merit-box{
  padding: 30px;

}

.merit-box h4{
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;

}

.merit-boximg {
  margin-top: -50px;

}

.merit-box p{
  text-align: left;

}

.dog_picture {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;

}

.orangebar {
  transform: translateY(200%);
  z-index: -999;

}

.demerit {
  width: 100vw;
  margin-top: 50px;
  font-size: 14px;
  line-height: 18px;

}

.demerit_background {
  background-color: #e0d8c7;
  background-size: contain;
  background-position: center ;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  min-width: 700px;
  padding-bottom: 20px;

}

.demerit_d h3{
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  line-height: 25px;

}

.demerit_d p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 40px;
}

.demerit_body{
  margin: auto;
  width: 70%;
}

.demerit_body_sp{
  display: none;
}

.text-container1 h4{
  font-size: 17px;
  margin-top: 1px;
  margin-bottom: 10px;
  text-decoration: underline;

}

.demerit-box{
  display: flex;
  justify-content: space-between;
  margin-top: 10px ;
  margin-bottom: 35px;

}

.img-container1{
  width: 30%;

}

.img-container1 img{
  width: 100%;
}

.text-container1{
  width: 60%;
  text-align: left;
  padding-top: 10px;

}

.table-img{
  margin-top: 20px;
  
}

.table-img img{
  width: 100%;
}

.table-img-sp img{
  display: none;
}

.responsibility{
  width: 100vw;
  margin-top: 50px;
  font-size: 14px;
  line-height: 18px;

}

.responsibility_background {
  background-color: #e0d8c7;
  background-size: contain;
  background-position: center ;
  background-position: center;
  text-align: center;
  width: 70%;
  padding-bottom: 20px;
  margin: 0 auto;
  min-width: 700px;

}

.responsibility_d h3{
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  line-height: 25px;
}

.responsibility_d p{
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
  
}

.shopping-sub-sp{
  display: none;
}

.re-textbox{
  text-align: left;
  background-color:#fff;
  position: relative;
  width: 90%;
  padding: 20px 30px;
  margin: auto;
  box-sizing: border-box;
}

.re-textbox img{
  position: absolute;
  width: 110px;
  bottom: 14%;
  right: 7%;
}

.re-textbox h4{
  font-size: 17px;
  margin-top: 1px;
  margin-bottom: 8px;
  text-decoration: underline;
}

.re-textbox p{
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 15px;
}

.shopping-background {
  background-color: #e0d8c7;
  background-size: contain;
  background-position: center;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  min-width: 700px;
  padding-bottom: 20px;

}
 
.shopping {
  width: 100vw;
  margin-top: 50px;
  font-size: 14px;
  line-height: 18px;

}

.shopping_d h3{
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  line-height: 25px;
}

.shopping_d p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 40px;
  
}

.shopping_body{
  margin: auto;
  width: 70%;

}

.shopping_subtitle_sp{
  display: none;
}

.shopping_body_sp{
  display: none;
}

.shopping-box{
  display: flex;
  justify-content: space-between;
  margin-top: 10px ;
  margin-bottom: 35px;

}

.img-container2{
  width: 30%;

}

.img-container2 img{
  width: 100%;
}

.text-container2{
  width: 60%;
  text-align: center;
  padding-top: 10px;

}

.text-container2 h4{
  font-size: 17px;
  margin-top: 1px;
  margin-bottom: 10px;

}

.shopping_subtitle{
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  align-items: stretch;
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  line-height: 23px;

}

.img-container3{
  width: 55%;

}

.img-container3 img{
  width: 100%;
}

.text-container3{
  width: 60%;
  text-align: center;
  padding-top: 6px;

}

.text-container3-sp{
  display: none;
}

.shopping-sub{
  margin: auto;
  width: 70%;

}

.shopping-sub-sp{
  display: none;
}

.shopping-box2{
  display: flex;
  justify-content: space-between;
  margin-top: 10px ;
  margin-bottom: 35px;

}

.img-container4{
  width: 30%;

}

.img-container4 img{
  width: 100%;
}

.text-container4{
  width: 60%;
  text-align: center;
  padding-top: 10px;

}

.text-container4 h4{
  font-size: 17px;
  margin-top: 1px;
  margin-bottom: 10px;

}

.sumup {
  text-align: center;
  width: 100vw;
  margin-top: 50px;
  font-size: 14px;
  line-height: 18px;
}

.sumup-background {
  background-color: #e0d8c7;
  background-size: contain;
  background-position: center;
  text-align: center;
  width: 70%;
  margin: auto;
  padding-top: 20px;
  min-width: 700px;
  padding-bottom: 40px;

}

.sumup-title h3{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 25px;
}

.sumup-img{
  margin-bottom: 30px;
}

.profile {
  margin-top: 20px;
  text-align: center;

}

.profile img {
  width: 392px;
  height: 247px;
}

.profile h3 {
  text-align: center;
  
}

.profile_body {
  margin-top: -150px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;

}

.footerimg {
  background-image: url(/img/footer.png);
  background-position: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  min-width: 700px;
}


/* sp */
@media screen and (max-width:500px){

*{
  min-width: none;
}

.titleimg-sp img{
  display: block;
  width: 100vw;
}


.body{
  width: 100vw;
}

.pc{
  display: none;
}

.nav{
  min-width: initial;
}

.preface1{
  margin-bottom: 30px;
  padding: 0 10%;
}

.preface1 h2{
  margin-top: 0%;

}

.menu-title-sp{
  display: block;
  font-size: 23px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.nav_sp{
  display: block;
  width: 65vw;
  margin: 0 auto;
  background-color: #fff;
  padding: 4% 10%;
  box-sizing: border-box;
  border-radius: 6px;
}

.merit_background{
  min-width: initial;
  height: auto;
  width: 90%;
  background-image: none;
  border-radius: 6px;
}

.merit_d p{
  width: 69vw;
  margin: 10px auto;
  font-size: 15px;
}

.merit_d h3{
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 18px;
  }

.merit-box{
  padding-top: 20px;
  padding-bottom: 10px;
}

.merit-box p{
  width: 50vw;
  margin: 0 auto;
}

.merit_body{
  display: block;
}

.merit-box h4{
  margin-top: 10px;
  margin-bottom: 10px;
}

.demerit{
  margin-top: 50px;
}

.demerit_background{
  min-width: initial;
  width: 90%;
  border-radius: 6px;
}

.demerit_body_sp{
  margin: auto;
  width: 95%;
  display: block;
}

.demerit-box{
  padding-bottom: 10px;
  display: block;
  margin-bottom: 0%;
}

.demerit_d p{
  width: 69vw;
  margin: 10px auto;
  font-size: 15px;
}

.demerit_d h3{
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 19px;
  }

.text-container1{
  padding-top: 20px;
}


.text-container1 p{
 width: 60vw;
 margin: 0 auto;
}

.text-container1 h4{
   font-size: 16px;
 } 

.demerit-box p{
  width: 60vw;
  margin: 0 auto;
}

.table-img-sp img{
  display: block;
  width: 80vw;
  margin: 0 auto;
  margin-top: 30px;
}

.responsibility_background{
  width: 90%;
  border-radius: 6px;
}

.text-container1, .text-container2, .text-container3, .text-container4{
  width: 100%;
}

.text-container2 img, .text-container3 img, .text-container4 img{
  width: 47vw;
  margin-bottom: 15px;
}

.text-container1 img{
  width: 47vw;
  margin-bottom: 15px;
  margin-left: 23%;
}

.text-container1 h4, .text-container2 h4, .text-container3 h4, .text-container4 h4{
  text-align: center;
}

.text-container2 p{
  width: 65vw;
  margin: 0 auto;
}

.text-container4 p{
  width: 65vw;
  margin: 0 auto;
}

.sumup p{
  width: 80vw;
  margin: 0 auto;
}

.re-textbox{
  width: 88%;
  padding: 20px 10px;
}

.re-textbox p{
  width: 70vw;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

.re-textbox h4{
  margin: 0 15px;
}

.responsibility{
  margin-top: 50px;
}

.responsibility_d h3{
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 19px;
}

.responsibility_d p{
  width: 69vw;
  margin: 10px auto;
  font-size: 15px;
}

.shopping{
  margin-top: 50px;
}

.responsibility_background{
  min-width: initial;
  border-radius: 6px;
}

.shopping-box{
  display: block;
}

.shopping_body_sp{
  margin: auto;
  width: 95%;
  display: block;
}

.shopping-background{
  min-width: initial;
  width: 90%;
  border-radius: 6px;
}

.shopping_d h3{
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 19px;
}

.shopping_d p{
  width: 60vw;
  margin: 0 auto;

}

.shopping_subtitle_sp{
  font-size: 18px;
  display: flex;
}

.shopping-sub-sp{
  display: block;
}

.sumup{
  margin-top: 50px;
}

.shopping-sub-sp{
  display: block;
}

.sumup-img img{
  width: 90%;
}

.sumup-title h3{
  margin-top: 5px;
}

.sumup p{
  width: 60vw;
  margin: 0 auto;
}

.sumup-background{
  min-width: initial;
  width: 90%;
  border-radius: 6px;
}

.footerimg{
  width: 100%;
  background-size: contain;
  height: 69px;
  min-width: initial;
}

.profile img{
  width: 98%;
}



}
